<h1><%= t('view.users.admin.new.title') %></h1>

<%# フォームが表示される前にエラーメッセージを表示するためform_withの前に書く %>
<% if @order.errors.any? %>

<%# Railsがデフォルトで用意しているエラー用のスタイル（CSS）を適用 %>
<div id="error_explanation">
  <h2><%= t('activerecord.errors.models.user.prohibited', count: @order.errors.count) %></h2>
  <ul>
    <% @order.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<%= form_with model: @order, url: admin_orders_path, local: true do |f| %>
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <!-- 会社名 -->
    <tr>
      <td>会社名</td>
      <td><%= @order.company.name || "会社情報なし" %></td>
      <%= f.text_field :company_id %>
    </tr>

    <!-- 品番 -->
    <tr>
      <td>品番</td>
      <td><%= @order.product_number || "品番が設定されていません" %></td>
    </tr>

    <!-- 色番 -->
    <tr>
      <td>色番</td>
      <td><%= @order.color_number || "未指定" %></td>
    </tr>

    <!-- 反数 -->
    <tr>
      <td>反数</td>
      <td><%= @order.roll_count || "未指定" %></td>
    </tr>

    <!-- 数量 -->
    <tr>
      <td>数量</td>
      <td><%= @order.quantity || "未指定" %></td>
    </tr>

    <!-- 発注日 -->
    <tr>
      <td>発注日</td>
      <td>
        <% @order.start_date| "未指定" %>
      </td>
    </tr>
  </tbody>
</table>

<!-- 提出ボタン -->

<%= f.submit "発注する", id: 'update-order' %>
<%= link_to t('common.back'), admin_orders_path, id: 'back' %>

<% end %>
