<h1>発注編集</h1>

<h2>商品</h2>
<%= form_with model: @order, url: admin_order_path(@order), local: true do |f| %>
<table border="1" cellpadding="5" cellspacing="0">
  <thead>
    <tr>
      <th>企業名</th>
      <th>品番</th>
      <th>色番</th>
      <th>反数</th>
      <th>数量</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= f.collection_select :company_id,
                                Company.all,
                                :id,
                                :name,
                                prompt: "新しい企業を選択" %></td>
      <td><%= f.collection_select :product_number_id,
                                ProductNumber.all,
                                :id,
                                :number,
                                prompt: "新しい品番を選択" %></td>
      <td><%= f.collection_select :color_number_id,
                                ColorNumber.all,
                                :id,
                                :color_code,
                                prompt: "新しい色番号を選択" %></td>
      <td><%= f.number_field :roll_count, placeholder: "新しいロール数を入力" %></td>
      <td><%= f.number_field :quantity, placeholder: "新しいロール数を入力" %></td>
    </tr>

  </tbody>
</table>


<h2>作業工程</h2>
<table border="1" cellpadding="5" cellspacing="0">
  <thead>
    <tr>
      <th>現在の工程</th>
      <th>現在の工程の状況</th>
      <th>開始日</th>
      <th>完了見込み(最短)</th>
      <th>完了見込み(最長)</th>
      <th>機屋の完了予定日</th>
      <th>機屋の完了日</th>
    </tr>
  </thead>
  <tbody>
    <% @order.work_processes.each do |process| %>
    <tr>
      <td><%= process&.work_process_definition&.name || "N/A" %></td>

      <td><%= f.collection_select "work_processes[#{process.id}][work_process_status_id]",
          WorkProcessStatus.all, :id, :name,
          selected: process.work_process_status_id,
          include_blank: "選択してください" %></td>
      <td><%= f.date_field "work_processes[#{process.id}][start_date]",
        value: process&.start_date,
        placeholder: "作業開始日を選択してください" %></td>
      <td><%= process&.earliest_estimated_completion_date || "N/A" %></td>
      <td><%= process&.latest_estimated_completion_date || "N/A" %></td>
      <td><%= f.date_field "work_processes[#{process.id}][factory_estimated_completion_date]",
        value: process&.factory_estimated_completion_date,
        placeholder: "機屋の完了予定日を選択してください" %></td>
      <td>
        <%= f.date_field "work_processes[#{process.id}][actual_completion_date]",
        value: process&.actual_completion_date,
        placeholder: "機屋の完了日を選択してください" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<h2>機械の稼働状況</h2>

<% @order.work_processes.each do |process| %>
<% if process.machine_assignments.present? %>
<% process.machine_assignments.each do |assignment| %>
<%# 織機割り当てがまだの場合は非表示 %>
<td><%= f.collection_select "work_processes[#{process.id}][machine_assignments][#{assignment.id}][machine_status_id]",
          MachineStatus.all, :id, :name,
          selected: assignment.machine_status_id,
          include_blank: "選択してください" %></td><br>
<% end %>
<% else %>
<td>N/A</td><br>
<% end %>
<% end %>
<td>
  <%= link_to '更新', admin_orders_path, class: "update-order" %> |
  <%# link_to '作業工程の編集', edit_work_processes_admin_order_path(@order), class: "edit_work_processes_admin_order" %>
  <%= link_to '削除', admin_order_path(@order), method: :delete, data: {turbo_method: :delete, turbo_confirm: "本当に削除してよろしいですか？" } %>
  <%= link_to "戻る", admin_orders_path, id: 'back' %>
</td>
<% end %>
