<h1 class="px-4 py-2 text-3xl font-bold text-gray-700 mt-6 mb-6 text-center">発注編集</h1>

<%= form_with model: @order, url: admin_order_path(@order), method: :patch, local: true do |f| %>
<section class="mb-12">
  <h2 class="px-4 text-2xl font-semibold text-gray-800 mt-6 mb-6">商品情報</h2>
  <div class="px-4 py-2 overflow-x-auto mb-6 whitespace-nowrap">
    <table class="min-w-full border border-gray-300 bg-gray-100">
      <tbody>
        <tr class="bg-gray-100 border-b">
          <th class="w-1/3 px-4 py-2 text-center text-gray-700">会社</th>
          <td class="w-2/3 px-4 py-2 text-gray-900 bg-white">
            <%= f.collection_select :company_id, Company.all, :id, :name, prompt: "新しい会社を選択" %>
          </td>
        </tr>
        <tr class="bg-gray-100 border-b">
          <th class="w-1/3 px-4 py-2 text-center text-gray-700">品番</th>
          <td class="w-2/3 px-4 py-2 text-gray-900 bg-white">
            <%= f.collection_select :product_number_id, ProductNumber.all, :id, :number, prompt: "新しい品番を選択" %>
          </td>
        </tr>
        <tr class="bg-gray-100 border-b">
          <th class="w-1/3 px-4 py-2 text-center text-gray-700">色番</th>
          <td class="w-2/3 px-4 py-2 text-gray-900 bg-white">
            <%= f.collection_select :color_number_id, ColorNumber.all, :id, :color_code, prompt: "新しい色番号を選択" %>
          </td>
        </tr>
        <tr class="bg-gray-100 border-b">
          <th class="w-1/3 px-4 py-2 text-center text-gray-700">ロール数</th>
          <td class="w-2/3 px-4 py-2 text-gray-900 bg-white">
            <%= f.number_field :roll_count, placeholder: "新しいロール数を入力", class: "block w-full rounded-md bg-white px-4 py-2 text-base text-gray-900 border border-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
          </td>
        </tr>
        <tr class="bg-gray-100 border-b">
          <th class="w-1/3 px-4 py-2 text-center text-gray-700">数量</th>
          <td class="w-2/3 px-4 py-2 text-gray-900 bg-white">
            <%= f.number_field :quantity, placeholder: "新しいロール数を入力", class: "block w-full rounded-md bg-white px-4 py-2 text-base text-gray-900 border border-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="mb-12">
  <h2 class="px-4 text-2xl font-semibold text-gray-800 mt-6 mb-6">織機詳細</h2>
  <div class="px-4 py-2 overflow-x-auto mb-6 whitespace-nowrap">
    <% if @machines.present? %>
      <table class="min-w-full border border-gray-300 bg-gray-100">
        <tbody>
          <% @machines.each do |machine, i| %>
            <tr class="bg-gray-100 border-b">
              <th class="w-1/3 px-4 py-2 text-center text-gray-700">織機名</th>
              <td class="w-2/3 px-4 py-2 text-gray-900 bg-white"><%= machine&.name || "N/A" %></td>
            </tr>
            <tr class="bg-gray-100 border-b">
              <th class="w-1/3 px-4 py-2 text-center text-gray-700">織機の稼働状況</th>
              <td class="w-2/3 px-4 py-2 text-gray-900 bg-white">
                <%= collection_select(:order, :machine_status_id, MachineStatus.all, :id, :name, prompt: "選択してください", class: "block w-full rounded-md bg-white px-4 py-2 text-base text-gray-900 border border-gray-300 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm appearance-none", selected: machine.latest_machine_status&.id) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="py-2 text-rose-500">この受注にはまだ織機が割り当てられていません。織機と稼働状況を割り当ててください。</p>
      <table class="min-w-full border border-gray-300">
          <thead>
            <tr class="bg-gray-100 border-b">
              <th class="w-1/3 px-4 py-2 text-center text-gray-700">織機</th>
              <td class="w-2/3 px-4 py-2 text-gray-900 bg-white">
                <%= select_tag "order[new_machine_assignments][][machine_id]", options_from_collection_for_select(Machine.all, :id, :name), { prompt: "織機を選択してください", class: "form-control" } %>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-gray-100 border-b">
              <th class="w-1/3 px-4 py-2 text-center text-gray-700">稼働状況</th>
              <td class="w-2/3 px-4 py-2 text-gray-900 bg-white">
                <%= select_tag "order[new_machine_assignments][][machine_status_id]", options_from_collection_for_select(MachineStatus.all, :id, :name), { prompt: "稼働状況を選択してください", class: "form-control" } %>
              </td>
            </tr>
          </tbody>
      </table>
    <% end %>
  </div>
</section>

<section class="mb-12">
  <h2 class="px-4 text-2xl font-semibold text-gray-800 mt-6 mb-6">作業工程</h2>
  <div class="px-4 py-2 overflow-x-auto mb-6 whitespace-nowrap">
    <table class="min-w-full border text-left border-gray-300">
      <thead class="bg-gray-200">
        <tr class="bg-gray-100">
          <th class="w-1/4 px-4 py-2 text-gray-700 border-b">現在の工程</th>
          <th class="w-1/4 px-4 py-2 text-gray-700 border-b">現在の進捗</th>
          <th class="w-1/4 px-4 py-2 text-gray-700 border-b">開始日</th>
          <th class="w-1/4 px-4 py-2 text-gray-700 border-b">完了見込み(最短)</th>
          <th class="w-1/4 px-4 py-2 text-gray-700 border-b">完了見込み(最長)</th>
          <th class="w-1/4 px-4 py-2 text-gray-700 border-b">機屋の完了予定日</th>
          <th class="w-1/4 px-4 py-2 text-gray-700 border-b">機屋の完了日</th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :work_processes do |wp_form| %>
          <tr class="hover:bg-gray-100">
            <td class="px-4 py-2 border-b text-gray-900"><%= wp_form.object&.work_process_definition&.name || "N/A" %></td>
            <td class="px-4 py-2 border-b text-gray-900"><%= wp_form.collection_select :work_process_status_id,
              WorkProcessStatus.all, :id, :name,
              selected: wp_form.object&.work_process_status_id,
              include_blank: "選択してください" %></td>
            <td class="px-4 py-2 border-b text-gray-900">
              <%= wp_form.object&.start_date || "N/A" %>
            </td>
            <td class="px-4 py-2 border-b text-gray-900"><%= wp_form.object&.earliest_estimated_completion_date || "N/A" %></td>
            <td class="px-4 py-2 border-b text-gray-900"><%= wp_form.object&.latest_estimated_completion_date || "N/A" %></td>
            <%= wp_form.hidden_field :earliest_estimated_completion_date, value: wp_form.object&.earliest_estimated_completion_date %>
            <%= wp_form.hidden_field :latest_estimated_completion_date, value: wp_form.object&.latest_estimated_completion_date %>
            <%= wp_form.hidden_field :work_process_definition_id, value: wp_form.object&.work_process_definition_id %>
            <%= wp_form.hidden_field :start_date, value: wp_form.object&.start_date %>
            <td class="px-4 py-2 border-b text-gray-900">
              <%= wp_form.date_field :factory_estimated_completion_date, placeholder: "機屋の完了予定日を選択してください", class: "block w-full rounded-md bg-white px-4 py-2 text-base text-gray-900 border border-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
            </td>
            <td class="px-4 py-2 border-b text-gray-900">
              <%= wp_form.date_field :actual_completion_date, placeholder: "機屋の完了日を選択してください", class: "block w-full rounded-md bg-white px-4 py-2 text-base text-gray-900 border border-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>

<section class="mb-12">
  <div class="flex justify-center space-x-2">
    <div class="px-2 py-2">
      <%= f.submit '更新', class: "inline-block px-4 py-2 bg-purple-500 text-white rounded hover:bg-purple-700" %>
    </div>
    <div class="px-2 py-2">
      <%= link_to '削除', admin_order_path(@order), method: :delete, data: { turbo_method: :delete, turbo_confirm: "本当に削除してよろしいですか？" }, class: "inline-block px-4 py-2 bg-rose-500 text-white rounded hover:bg-rose-600" %>
    </div>
    <div class="px-2 py-2">
      <%= link_to "戻る", admin_order_path(@order), class: "inline-block px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-700" %>
    </div>
  </div>
</section>
<% end %>
