<h1 class="px-4 py-2 text-3xl font-bold text-gray-700 mt-6 mb-6 text-center">発注編集</h1>

<%= form_with(model: @order, url: admin_order_path(@order), method: :patch, local: true, data: { turbo: false }) do |f| %>
<section class="mb-12">
  <h2 class="px-4 text-2xl font-semibold text-gray-800 mt-6 mb-6">商品情報</h2>
  <div class="px-4 py-2 overflow-x-auto mb-6 whitespace-nowrap">
    <table class="min-w-full border border-gray-300 bg-gray-100">
      <tbody>
        <tr class="bg-gray-100 border-b">
          <th class="w-1/3 px-4 py-2 text-center text-gray-700">会社</th>
          <td class="w-2/3 px-4 py-2 text-gray-900 bg-white">
            <%= f.collection_select :company_id, Company.all, :id, :name, prompt: "新しい会社を選択" %>
          </td>
        </tr>
        <tr class="bg-gray-100 border-b">
          <th class="w-1/3 px-4 py-2 text-center text-gray-700">品番</th>
          <td class="w-2/3 px-4 py-2 text-gray-900 bg-white">
            <%= f.collection_select :product_number_id, ProductNumber.all, :id, :number, prompt: "新しい品番を選択" %>
          </td>
        </tr>
        <tr class="bg-gray-100 border-b">
          <th class="w-1/3 px-4 py-2 text-center text-gray-700">色番</th>
          <td class="w-2/3 px-4 py-2 text-gray-900 bg-white">
            <%= f.collection_select :color_number_id, ColorNumber.all, :id, :color_code, prompt: "新しい色番号を選択" %>
          </td>
        </tr>
        <tr class="bg-gray-100 border-b">
          <th class="w-1/3 px-4 py-2 text-center text-gray-700">反数</th>
          <td class="w-2/3 px-4 py-2 text-gray-900 bg-white">
            <%= f.number_field :roll_count, placeholder: "新しい反数を入力", id: "order_roll_count", class: "block w-full rounded-md bg-white px-4 py-2 text-base text-gray-900 border border-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
          </td>
        </tr>
        <tr class="bg-gray-100 border-b">
          <th class="w-1/3 px-4 py-2 text-center text-gray-700">数量</th>
          <td class="w-2/3 px-4 py-2 text-gray-900 bg-white">
            <%= f.number_field :quantity, placeholder: "新しい数量を入力", id: "order_quantity", class: "block w-full rounded-md bg-white px-4 py-2 text-base text-gray-900 border border-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
          </td>
        </tr>
        <tr class="bg-gray-100 border-b">
          <th class="w-1/3 px-4 py-2 text-center text-gray-700">織機の種類</th>
          <td class="w-2/3 px-4 py-2 text-gray-900 bg-white">
            <% machine_type_name = @order.work_processes.joins(process_estimate: :machine_type).pluck("machine_types.id").uniq %>
            <%= select_tag "order[machine_type_id]",
                          options_from_collection_for_select(MachineType.all, :id, :name, machine_type_name) %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="mb-12">
  <h2 class="px-4 text-2xl font-semibold text-gray-800 mt-6 mb-6">織機の稼働状況</h2>
  <div class="px-4 py-2 overflow-x-auto mb-6 whitespace-nowrap">
      <table class="min-w-full border border-gray-300 bg-gray-100">
        <% machine_all = @order.company&.machines %>
        <% machine_ids = @order.work_processes.joins(:machine_assignments).pluck('machine_assignments.machine_id').uniq %>
        <% if machine_ids.any? %>
        <% machines = Machine.where(id: machine_ids) %>
          <thead>
            <% machines.each do |machine| %>
            <% current_status = machine.machine_assignments.joins(:work_process).where(work_processes: { order_id: @order.id }).order(updated_at: :desc).first&.machine_status_id %>
            <% machine_assignment = machine.machine_assignments.order(:created_at).last %>
            <%= hidden_field_tag "order[machine_assignments_attributes][][id]", machine_assignment&.id %>
              <tr class="bg-gray-100 border-b">
                <th class="w-1/3 px-4 py-2 text-center text-gray-700">織機名</th>
                <td class="w-2/3 px-4 py-2 text-gray-900 bg-white">
                  <%= select_tag "order[machine_assignments_attributes][][machine_id]",
                    options_for_select(machine_all.map { |m| ["#{m.name}（#{m.machine_type.name}）", m.id] }, machine&.id),
                    { prompt: "織機名を選択してください", class: "form-control" } %>
                </td>
              </tr>
          </thead>
          <tbody>
              <tr class="bg-gray-100 border-b">
                <th class="w-1/3 px-4 py-2 text-center text-gray-700">稼働状況</th>
                <td class="w-2/3 px-4 py-2 text-gray-900 bg-white">
                  <%= select_tag "order[machine_assignments_attributes][][machine_status_id]", options_from_collection_for_select(@machine_statuses_for_form, :id, :name, current_status), { prompt: "稼働状況を選択してください", class: "form-control" } %>
                </td>
              </tr>
            <% end %>
          </tbody>
      </table>
      <% else %>
      <p class="py-2 text-rose-500">この受注にはまだ織機が割り当てられていません。織機と稼働状況を割り当ててください。</p>
      <table class="min-w-full border border-gray-300">
          <thead>
            <tr class="bg-gray-100 border-b">
              <th class="w-1/3 px-4 py-2 text-center text-gray-700">織機名</th>
              <td class="w-2/3 px-4 py-2 text-gray-900 bg-white">
                <% machines = Machine.where(id: machine_ids) %>
                <%= select_tag "order[machine_assignments_attributes][][machine_id]",
                  options_for_select(machine_all.map { |m| ["#{m.name}（#{m.machine_type&.name || '不明なタイプ'}）", m.id] }, nil),
                  { prompt: "織機名を選択してください", class: "form-control" } %>
              </td>
            </tr>
          </thead>
        <% end %>
      </table>
  </div>
</section>

<section class="mb-12">
  <h2 class="px-4 text-2xl font-semibold text-gray-800 mt-6 mb-6">作業工程</h2>
  <div class="px-4 py-2 overflow-x-auto mb-6 whitespace-nowrap">
    <table class="table-auto border text-left border-gray-300">
      <thead class="bg-gray-200">
        <tr class="bg-gray-100">
          <th class="w-1/4 px-4 py-2 text-gray-700 border-b">作業工程名</th>
          <th class="w-1/4 px-4 py-2 text-gray-700 border-b">現在の進捗</th>
          <th class="w-1/4 px-4 py-2 text-gray-700 border-b">開始日</th>
          <th class="w-1/4 px-4 py-2 text-gray-700 border-b">完了見込み</th>
          <%# <th class="w-1/4 px-4 py-2 text-gray-700 border-b">完了見込み(最長)</th> %>
          <th class="w-1/4 px-4 py-2 text-gray-700 border-b">機屋の完了予定日</th>
          <th class="w-1/4 px-4 py-2 text-gray-700 border-b">機屋の完了日</th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :work_processes do |wp_form| %>
          <% wp_index = wp_form.options[:child_index] || @order.work_processes.index(wp_form.object) %>
          <tr class="hover:bg-gray-100">
            <td class="px-4 py-2 border-b text-gray-900"><%= wp_form.object&.work_process_definition&.name %></td>
            <td class="px-4 py-2 border-b text-gray-900"><%= wp_form.collection_select :work_process_status_id,
              WorkProcessStatus.all, :id, :name,
              selected: wp_form.object&.work_process_status_id,
              include_blank: "選択してください" %></td>
            <td class="px-4 py-2 border-b text-gray-900">
              <% if wp_index == 0 %>
                <%= wp_form.date_field :start_date, required: true, value: wp_form.object&.start_date, readonly: true, class: "block w-full rounded-md bg-gray-100 px-4 py-2 text-base text-gray-500 border border-gray-300 cursor-not-allowed sm:text-sm" %>
              <% else %>
                <%= wp_form.date_field :start_date, required: true, value: wp_form.object&.start_date, class: "block w-full rounded-md bg-white px-4 py-2 text-base text-gray-900 border border-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
              <% end %>
            </td>
            <td class="px-4 py-2 border-b text-gray-900"><%= wp_form.object&.earliest_estimated_completion_date %></td>
            <td class="px-4 py-2 border-b text-gray-900"><%= wp_form.object&.factory_estimated_completion_date || "未設定" %></td>
            <td class="px-4 py-2 border-b text-gray-900">
              <%= wp_form.date_field :actual_completion_date, class: "block w-full rounded-md bg-white px-4 py-2 text-base text-gray-900 border border-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>

<section class="mb-12">
  <div class="flex justify-center space-x-2">
    <div class="px-2 py-2">
      <%= f.submit '更新', class: "inline-block px-4 py-2 bg-purple-500 text-white rounded hover:bg-purple-700" %>
    </div>
    <div class="px-2 py-2">
      <%= link_to "戻る", admin_order_path(@order), class: "inline-block px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-700" %>
    </div>
  </div>
</section>
<% end %>
