<h1>発注済み商品一覧</h1>

<table>
  <thead>
    <tr>
      <th>会社名</th>
      <th>品番</th>
      <th>色番</th>
      <th>現在の工程</th>
      <th>開始日</th>
      <th>機屋の予定納期</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <% current_process = @current_work_processes[order.id] %>
    <% if current_process %>
    <tr>
      <td><%= order.company.name %></td>
      <td><%= order.product_number.number %></td>
      <td><%= order.color_number.color_code %></td>
      <td>
        <%= current_process.work_process_definition&.name.presence || "未設定" %>
      </td>
      <td><%= current_process.start_date %></td>
      <td><%= current_process.factory_estimated_completion_date || "未設定" %></td>

      <td>
        <%= link_to '詳細', admin_order_path(order), class: 'show-order' %> |
        <%= link_to '編集', edit_admin_order_path(order), class: "edit-order" %> |
        <%= link_to '削除', admin_order_path(order) ,method: :delete,
        data: {turbo_method: :delete, turbo_confirm: "本当に削除してよろしいですか？"} %>
      </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
