<h1 class="px-4 py-2 text-3xl font-bold text-gray-800 mt-6 mb-6 text-center">発注フォーム</h1>

<%# フォームが表示される前にエラーメッセージを表示するためform_withの前に書く %>
<% if @order.errors.any? %>

<%# Railsがデフォルトで用意しているエラー用のスタイル（CSS）を適用 %>
<div id="error_explanation">
  <h2><%= "#{@order.errors.count} 件のエラーが発生しました" %></h2>
  <ul>
    <% @order.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_with model: @order, url: admin_orders_path, local: true do |f| %>
<table>
  <tbody>
    <tr>
      <td>会社名</td>
      <td>
        <%= f.collection_select :company_id, Company.all, :id, :name, prompt: "会社を選択" %>
      </td>
    </tr>
    <tr>
      <td>品番</td>
      <td>
        <%= f.collection_select :product_number_id, ProductNumber.all, :id, :number, placeholder: "品番を入力してください" %></td>
    </tr>
    <tr>
      <td>色番</td>
      <td>
        <%= f.collection_select :color_number_id, ColorNumber.all, :id, :color_code, placeholder: "色番を入力してください" %>
      </td>
    </tr>

    <tr>
      <td>反数</td>
      <td>
        <%= f.number_field :roll_count, min: 1, placeholder: "反数を入力してください" %>
      </td>
    </tr>
    <tr>
      <td>数量</td>
      <td>
        <%= f.number_field :quantity, min: 1, placeholder: "数量を入力してください" %>
      </td>
    </tr>
    <%# f.fields_for :work_processes do |wp_form| %>
    <tr>
      <td>機械の種類</td>
      <td>
        <%# = wp_form.select :process_estimate_id,
                     options_from_collection_for_select(MachineType.all, :id, :name),
                     prompt: "機械の種類を選択してください" %>

        <%# work_processesのidを取得 %>
        <%= hidden_field_tag 'order[work_processes][0][id]', work_process.id if work_process.present? %>
        <%= select_tag 'order[work_processes][0][process_estimate][machine_type_id]',
                   options_from_collection_for_select(MachineType.all, :id, :name),
                   prompt: "機械の種類を選択してください" %>
      </td>
    </tr>
    <tr>
      <td>作業開始日</td>
      <td>
        <%#= wp_form.date_field :start_date, placeholder: "作業開始日を選択してください" %>
        <%= text_field_tag 'order[work_processes][0][start_date]',
                       nil,
                       placeholder: "作業開始日を選択してください",
                       type: :date %>
      </td>
    </tr>

  </tbody>
</table>

<%= f.submit "発注する", id: 'update-order' %>
<%= link_to "戻る", admin_orders_path, id: 'back' %>

<% end %>
