<h1 class="px-4 py-2 text-3xl font-bold text-gray-800 mt-6 mb-6 text-center">発注済み商品の詳細</h1>

<!-- 商品情報セクション -->
<section class="mb-12">
  <h2 class="px-4 text-2xl font-semibold text-gray-800 mt-6 mb-6">商品情報</h2>
  <div class="px-4 py-2 overflow-x-auto mb-6 whitespace-nowrap">
    <table class="min-w-full border border-gray-300 bg-gray-100">
      <tbody>
        <tr class="bg-gray-100 border-b">
          <th class="w-1/3 px-4 py-2 text-center text-gray-700">品番</th>
          <td class="w-2/3 px-4 py-2 text-gray-900 bg-white"><%= @order&.product_number&.number %></td>
        </tr>
        <tr class="bg-gray-100 border-b">
          <th class="w-1/3 px-4 py-2 text-center text-gray-700">色番</th>
          <td class="w-2/3 px-4 py-2 text-gray-900 bg-white"><%= @order&.color_number&.color_code %></td>
        </tr>
        <tr class="bg-gray-100 border-b">
          <th class="w-1/3 px-4 py-2 text-center text-gray-700">ロール数</th>
          <td class="w-2/3 px-4 py-2 text-gray-900 bg-white"><%= @order&.roll_count %></td>
        </tr>
        <tr class="bg-gray-100 border-b">
          <th class="w-1/3 px-4 py-2 text-center text-gray-700">数量</th>
          <td class="w-2/3 px-4 py-2 text-gray-900 bg-white"><%= @order&.quantity %></td>
        </tr>
        </tr>
        <tr class="bg-gray-100 border-b">
          <th class="w-1/3 px-4 py-2 text-center text-gray-700">織機の種類</th>
          <td class="w-2/3 px-4 py-2 text-gray-900 bg-white"><%= @order&.work_processes&.first.process_estimate&.machine_type.name || '未設定' %></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<!-- 織機詳細セクション -->
<section class="mb-12">
  <h2 class="px-4 text-2xl font-semibold text-gray-800 mb-6">織機詳細</h2>
  <div class="px-4 py-2 overflow-x-auto mb-6 whitespace-nowrap">
    <table class="min-w-full border border-gray-300 bg-gray-100">
      <% machine_all = @order.company&.machines %>
      <% machine_ids = @order.work_processes.joins(:machine_assignments).pluck('machine_assignments.machine_id').uniq %>
      <% if machine_ids.any? %>
      <tbody>
        <% @machines.each do |machine| %>
          <tr class="bg-gray-100 border-b">
            <th class="w-1/3 px-4 py-2 text-center text-gray-700">織機名</th>
            <td class="w-2/3 px-4 py-2 text-gray-900 bg-white"><%= machine&.name %></td>
          </tr>
          <tr class="bg-gray-100 border-b">
            <th class="w-1/3 px-4 py-2 text-center text-gray-700">会社名</th>
            <td class="w-2/3 px-4 py-2 text-gray-900 bg-white"><%= machine&.company&.name %></td>
          </tr>
          <tr class="bg-gray-100 border-b">
            <th class="w-1/3 px-4 py-2 text-center text-gray-700">稼働状況</th>
            <td class="w-2/3 px-4 py-2 text-gray-900 bg-white"><%= machine.latest_machine_status&.name || "ステータス情報なし" %></td>
          </tr>
        <% end %>
      <% else %>
          <p class="text-center text-rose-500">現在割り当て中の織機はありません。</p>
      <% end %>
      </tbody>
    </table>
  </div>
</section>

<!-- 作業工程セクション -->
<section class="mb-12">
  <h2 class="px-4 text-2xl font-semibold text-gray-800 mb-6">作業工程</h2>
  <div class="px-4 py-2 overflow-x-auto mb-6 whitespace-nowrap">
    <table class="w-full text-left border border-gray-300 bg-gray-100">
      <thead class="bg-gray-200 border-b">
        <tr class="bg-gray-100 border-b">
          <th class="w-1/6 px-4 py-2 text-gray-700 border-b">現在の工程</th>
          <th class="w-1/6 px-4 py-2 text-gray-700 border-b">現在の進捗</th>
          <th class="w-1/6 px-4 py-2 text-gray-700 border-b">開始日</th>
          <th class="w-1/6 px-4 py-2 text-gray-700 border-b">完了見込み(最短)</th>
          <th class="w-1/6 px-4 py-2 text-gray-700 border-b">完了見込み(最長)</th>
          <th class="w-1/6 px-4 py-2 text-gray-700 border-b">機屋の完了予定日</th>
          <th class="w-1/6 px-4 py-2 text-gray-700 border-b">機屋の完了日</th>
        </tr>
      </thead>
      <tbody>
        <% @work_process.each do |process| %>
        <tr class="bg-gray-100 border-b">
          <td class="w-2/3 px-4 py-2 text-gray-900 bg-white"><%= process&.work_process_definition&.name %></td>
          <td class="w-2/3 px-4 py-2 text-gray-900 bg-white"><%= process&.work_process_status&.name %></td>
          <td class="w-2/3 px-4 py-2 text-gray-900 bg-white"><%= process&.start_date %></td>
          <td class="w-2/3 px-4 py-2 text-gray-900 bg-white"><%= process&.earliest_estimated_completion_date  %></td>
          <td class="w-2/3 px-4 py-2 text-gray-900 bg-white"><%= process&.latest_estimated_completion_date  %></td>
          <td class="w-2/3 px-4 py-2 text-gray-900 bg-white"><%= process&.factory_estimated_completion_date || "未設定" %></td>
          <td class="w-2/3 px-4 py-2 text-gray-900 bg-white"><%= process&.actual_completion_date || "未設定" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>

<!-- アクションボタンセクション -->
<section class="mb-12">
    <div class="flex justify-center space-x-2">
        <div class="px-2 py-2">
            <%= link_to '編集', edit_admin_order_path(@order), class: "inline-block px-4 py-2 bg-teal-500 text-white rounded hover:bg-teal-600" %>
        </div>
        <%# link_to '作業工程の編集', edit_work_processes_admin_order_path(@order), class: "edit_work_processes_admin_order" %>
        <div class="px-2 py-2">
            <%= link_to '削除', admin_order_path(@order), data: { turbo: true, turbo_method: :delete, turbo_confirm: "本当に削除してよろしいですか？" }, class: "inline-block px-4 py-2 bg-rose-500 text-white rounded hover:bg-rose-600" %>
        </div>
        <div class="px-2 py-2">
            <%= link_to '戻る', admin_orders_path, class: "inline-block px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-700" %>
        </div>
    </div>
</section>
