<h1 class="px-4 py-2 text-3xl font-bold text-gray-700 mt-6 mb-6 text-center">ホーム画面</h1>

<section class="w-full px-4 py-6">
    <% if @machines.any? %>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <% @machine_status_data.each do |data| %>
                <% machine = data[:machine] %>
                <div class="w-full px-2 py-2">
                    <table class="w-full bg-white shadow rounded-lg overflow-hidden border-collapse border border-gray-200">
                        <tbody>
                            <tr>
                                <th class="w-1/4 px-4 py-4 text-gray-700 font-bold text-left border-b">織機名</th>
                                <td class="w-1/4 px-4 py-4 text-gray-700 text-center border-b"><%= machine&.name %></td>
                            </tr>
                            <tr>
                                <th class="w-1/4 px-4 py-4 text-gray-700 font-bold text-left border-b">現在の作業状況</th>
                                <td class="w-1/4 px-4 py-4 text-gray-700 text-center border-b"><%= work_process_name(machine) %></td>
                            </tr>
                            <tr>
                                <th class="w-1/4 px-4 py-4 text-gray-700 font-bold text-left border-b">織機の稼働状況</th>
                                <td class="w-1/4 px-4 py-4 text-gray-700 text-center border-b"><%= machine&.latest_machine_status&.name %></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="px-4 py-2">
                                    <div class="flex justify-center space-x-2">
                                    <%= form_with url: update_home_path, method: :patch, local: true do %>
                                        <%= hidden_field_tag :machine_id, machine.id %>
                                            <%= hidden_field_tag :order_id, data[:order_id] %>
                                        <%= submit_tag data[:button_label], name: 'commit',
                                                        class: "rounded-full w-32 h-32 text-white text-xl font-semibold #{data[:button_disabled] ? 'bg-gray-300 cursor-not-allowed' : 'bg-blue-500 hover:bg-blue-700'}",
                                                        disabled: data[:button_disabled] %>
                                    <% end %>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            <% end %>
        </div>
    <% else %>
        <p class="text-center text-rose-500">表示するデータがありません。</p>
    <% end %>
</section>
