<%= form_with(model: @order, url: order_path(@order), method: :patch, local: true, data: { turbo: false }) do |form| %>

<!-- 受注の基本情報 開始日のみの編集セクション -->
    <section class="mb-12">
        <h2 class="px-4 text-2xl font-semibold text-gray-800 mt-6 mb-6">基本情報</h2>
        <div class="px-4 overflow-x-auto mb-6 whitespace-nowrap">
            <table class="min-w-full border border-gray-300 bg-gray-50">
                <tbody>
                    <tr class="bg-gray-100 border-b">
                        <th class="w-1/3 px-4 py-2 text-center text-gray-700"><%= form.label :product_number_id, "品番" %></th>
                        <td class="w-2/3 px-4 py-2 text-gray-900 bg-white"><%= @order&.product_number&.number %></td>
                    </tr>
                    <tr class="bg-gray-100 border-b">
                        <th class="w-1/3 px-4 py-2 text-center text-gray-700"><%= form.label :color_number_id, "色番" %></th>
                        <td class="w-2/3 px-4 py-2 text-gray-900 bg-white"><%= @order&.color_number&.color_code %></td>
                    </tr>
                    <tr class="bg-gray-100 border-b">
                        <th class="w-1/3 px-4 py-2 text-center text-gray-700"><%= form.label :roll_count, "ロール数" %></th>
                        <td class="w-2/3 px-4 py-2 text-gray-900 bg-white"><%= @order&.roll_count %></td>
                    </tr>
                    <tr class="bg-gray-100 border-b">
                        <th class="w-1/3 px-4 py-2 text-center text-gray-700"><%= form.label :quantity, "数量" %></th>
                        <td class="w-2/3 px-4 py-2 text-gray-900 bg-white"><%= @order&.quantity %></td>
                    </tr>
                    <tr class="bg-gray-100 border-b">
                        <th class="w-1/3 px-4 py-2 text-center text-gray-700"><%= form.label :start_date, "開始日" %></th>
                        <td class="w-2/3 px-4 py-2 text-gray-900 bg-white"><%= @order&.work_processes&.first&.start_date %></td>
                    </tr>
                    <tr class="bg-gray-100 border-b">
                        <th class="w-1/3 px-4 py-2 text-center text-gray-700">織機の種類</th>
                        <td class="w-2/3 px-4 py-2 text-gray-900 bg-white"><%= @order&.work_processes&.first&.process_estimate&.machine_type&.name || 'N/A' %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <!-- 織機の稼働状況 一括編集セクション -->
    <section class="mb-12">
        <h2 class="px-4 text-2xl font-semibold text-gray-800 mt-6 mb-6">織機の稼働状況</h2>
        <div class="px-4 overflow-x-auto whitespace-nowrap">
            <% machine_all = @order&.company&.machines %>
            <% machine_ids = @order&.work_processes.joins(:machine_assignments).pluck('machine_assignments.machine_id').uniq %>
            <% if machine_ids.any? %>
                <table class="min-w-full border text-left border-gray-300">
                    <thead class="bg-gray-200">
                        <tr class="bg-gray-100">
                            <th class="w-1/4 px-4 py-2 text-gray-700 border-b">織機名</th>
                            <th class="w-1/4 px-4 py-2 text-gray-700 border-b">稼働状況</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% machines = Machine.where(id: machine_ids) %>
                        <% machines.each do |machine| %>
                            <% current_status = machine.machine_assignments.joins(:work_process).where(work_processes: { order_id: @order.id }).order(updated_at: :desc).first&.machine_status_id %>
                            <% machine_assignment = machine.machine_assignments.order(:created_at).last %>
                            <%= hidden_field_tag "order[machine_assignments_attributes][][id]", machine_assignment&.id %>
                            <tr class="hover:bg-gray-100">
                                <td class="px-4 py-2 border-b text-gray-900">
                                    <%= select_tag "order[machine_assignments_attributes][][machine_id]",
                                        options_for_select(
                                            machine_all.map { |m| ["#{m.name}（#{m.machine_type.name}）", m.id] },
                                            machine.id
                                        ),
                                        { prompt: "選択してください", class: "form-control" }
                                    %>
                                </td>
                                <td class="px-4 py-2 border-b text-gray-900">
                                    <%= select_tag "order[machine_assignments_attributes][][machine_status_id]", options_from_collection_for_select(@machine_statuses_for_form, :id, :name, current_status), { prompt: "選択してください", class: "form-control" } %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            <% else %>
                <p class="pb-4 text-red-500">この受注にはまだ織機が割り当てられていません。織機と稼働状況を割り当ててください。</p>
                <table class="min-w-full border text-left border-gray-300">
                    <thead>
                    <tr class="bg-gray-100">
                        <th class="w-1/4 px-4 py-2 text-gray-700 border">織機名</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr class="hover:bg-gray-100">
                            <td class="px-4 py-2 border-b text-gray-900">
                                <% machines = Machine.where(id: machine_ids) %>
                                <%= select_tag "order[machine_assignments_attributes][][machine_id]",
                                    options_for_select(
                                        machine_all.map { |m| ["#{m.name}（#{m.machine_type.name}）", m.id] },
                                        nil
                                    ),
                                    { prompt: "織機を選択してください", class: "form-control" }
                                %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            <% end %>
        </div>
    </section>

    <!-- 作業工程 -->
    <section class="mb-12">
        <h2 class="px-4 text-2xl font-semibold text-gray-800 mt-6 mb-6">作業工程</h2>
        <div class="px-4 py-2 overflow-x-auto mb-6 whitespace-nowrap">
            <table class="min-w-full border text-left border-gray-300">
                <thead>
                    <tr class="bg-gray-100">
                        <th class="w-1/5 px-4 py-2 text-gray-700 border-b">##作業工程名</th>
                        <th class="w-1/4 px-4 py-2 text-gray-700 border-b">現在の進捗</th>
                        <th class="w-1/5 px-4 py-2 text-gray-700 border-b">開始日</th>
                        <th class="w-1/5 px-4 py-2 text-gray-700 border-b">完了予定日</th>
                        <th class="w-1/5 px-4 py-2 text-gray-700 border-b">実際の完了日</th>
                    </tr>
                </thead>
                <tbody>
                    <%= form.fields_for :work_processes do |wp_form| %>
                        <% wp_index = wp_form.options[:child_index] || form.object.work_processes.index(wp_form.object) %>
                        <tr class="hover:bg-gray-100">
                            <td class="px-4 py-2 border-b text-gray-900"><%= wp_form.object&.work_process_definition&.name || "N/A" %></td>
                            <td class="px-4 py-2 border-b text-gray-900">
                                <%= wp_form.collection_select :work_process_status_id,
                                WorkProcessStatus.all, :id, :name,
                                selected: wp_form.object&.work_process_status_id,
                                include_blank: "選択してください" %>
                            </td>
                                <%= wp_form.hidden_field :start_date, value: wp_form.object&.start_date %>
                            <td class="px-4 py-2 border-b text-gray-900">
                                <% if wp_index == 0 %>
                                    <%= wp_form.date_field :start_date, readonly: true, class: "block w-full rounded-md bg-gray-100 px-4 py-2 text-base text-gray-500 border border-gray-300 cursor-not-allowed sm:text-sm" %>
                                <% else %>
                                    <%= wp_form.date_field :start_date, placeholder: "開始日を選択してください", class: "block w-full rounded-md bg-white px-4 py-2 text-base text-gray-900 border border-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
                                <% end %>
                            </td>
                            <td class="px-4 py-2 border-b text-gray-900">
                                <%= wp_form.date_field :factory_estimated_completion_date, placeholder: "機屋の完了予定日を選択してください", class: "block w-full rounded-md bg-white px-4 py-2 text-base text-gray-900 border border-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
                            </td>
                            <td class="px-4 py-2 border-b text-gray-900">
                                <%= wp_form.date_field :actual_completion_date, placeholder: "機屋の完了日を選択してください", class: "block w-full rounded-md bg-white px-4 py-2 text-base text-gray-900 border border-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
                            </td>

                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </section>

    <!-- フォーム送信ボタン -->
    <section class="mb-12">
        <div class="flex justify-center space-x-2">
            <% if @order.new_record? %>
            <div class="px-2 py-2">
                <%= form.submit '作成', class: "btn btn-primary" %>
            </div>
            <div class="px-2 py-2">
                <%= link_to '戻る', order_path(@order), class: "inline-block px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-700" %>
            </div>
            <% else %>
            <div class="px-2 py-2">
                <%= form.submit '更新', class: "inline-block px-4 py-2 bg-purple-500 text-white rounded hover:bg-purple-700" %>
            </div>
            <div class="px-2 py-2">
                <%= link_to '戻る', order_path(@order), class: "inline-block px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-700" %>
            </div>
            <% end %>
        </div>
    </section>
<% end %>
