<h1>受注一覧</h1>

<% if @orders.any? %>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>品番</th>
                <th>現在の作業工程</th>
                <th>ステータス</th>
                <th>織機</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <% @orders.each do |order| %>
            <tr>
                <td><%= order.product_number.number %></td>
                <td><%= work_process_name(order) %></td>
                <td><%= work_process_status(order) %></td>
                <td><%= machine_names(order) %></td>
                <td>
                    <%= link_to '詳細', order_path(order), class: "btn btn-info btn-sm" %>
                    <%= link_to '編集', edit_order_path(order), class: "btn btn-warning btn-sm" %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <p><%= @no_orders_message %></p>
<% end %>
