<h1>受注詳細</h1>

<p>
    <strong>会社名:</strong>
    <%= @order.company.name %>
</p>
<p>
    <strong>品番:</strong>
    <%= @order.product_number.number %>
</p>
<p>
    <strong>色番:</strong>
    <%= @order.color_number.color_code %>
</p>
<p>
    <strong>ロール数:</strong>
    <%= @order.roll_count %>
</p>
<p>
    <strong>数量:</strong>
    <%= @order.quantity %>
</p>
<p>
    <strong>開始日:</strong>
    <%= @order.start_date %>
</p>

<h2>作業工程</h2>
<table class="table table-bordered">
    <thead>
        <tr>
        <th>作業工程定義</th>
        <th>織機</th>
        <th>開始日</th>
        <th>ステータス</th>
        </tr>
    </thead>
    <tbody>
        <% @work_processes.each do |wp| %>
        <tr>
            <td><%= wp.work_process_definition.name %></td>
            <td>
            <% wp.machines.each do |machine| %>
                <%= machine.name %><br>
            <% end %>
            </td>
            <td><%= wp.start_date %></td>
            <td><%= wp.work_process_status.name %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h2>織機詳細</h2>
<% if @machines.any? %>
    <% @machines.each do |machine| %>
        <p>
            <strong>織機名:</strong>
            <%= machine.name %>
        </p>
        <p>
            <strong>織機のタイプ:</strong>
            <%= machine.machine_type.name %>
        </p>
        <p>
            <strong>会社名:</strong>
            <%= machine.company.name %>
        </p>
        <p>
            <strong>稼働状況:</strong>
            <% if @current_machine_assignments.any? %>
                <% @current_machine_assignments.each do |assignment| %>
                    <%= assignment.machine_status.name %>
                <% end %>
            <% else %>
                N/A
            <% end %>
        </p>
    <% end %>
<% else %>
    <p>織機情報が見つかりませんでした。</p>
<% end %>

<%= link_to '編集', edit_order_path(@order), class: "btn btn-warning" %> |
<%= link_to '戻る', orders_path, class: "btn btn-primary" %>
