<h1 class="px-4 py-2 text-3xl font-bold text-gray-700 mt-6 mb-6 text-center">ホーム画面</h1>

<section class="mb-12">
    <div class="container mx-auto p-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <% @companies.each do |company| %>
            <div class="border rounded-lg shadow py-8 px-8">
                <h3 class="text-lg text-gray-700 font-bold mb-2"><%= company[:name] %>の稼働状況</h3>
                <div class="flex justify-between items-center py-4">
                    <div class="text-center">
                        <p class="bg-gray-100 py-2 px-6 text-sm font-bold text-gray-500">未稼働</p>
                        <p class="text-xl py-2 font-bold text-gray-700"><%= company[:inactive_count] %>台</p>
                    </div>
                    <div class="text-center">
                        <p class="bg-gray-100 py-2 px-6 text-sm font-bold text-gray-500">準備中</p>
                        <p class="text-xl py-2 font-bold text-gray-700"><%= company[:preparation_count] %>台</p>
                    </div>
                    <div class="text-center">
                        <p class="bg-green-100 py-2 px-6 text-sm font-bold text-green-500">稼働中</p>
                        <p class="text-xl py-2 font-bold text-green-700"><%= company[:active_count] %>台</p>
                    </div>
                    <div class="text-center">
                        <p class="bg-red-100 py-2 px-6 text-sm font-bold text-red-500">故障中</p>
                        <p class="text-xl py-2 font-bold text-red-700"><%= company[:broken_count] %>台</p>
                    </div>
                </div>
                <div class="flex justify-end">
                    <%= link_to "#{company[:name]}の稼働状況はこちら→", admin_company_path(company[:id]), class: "text-blue-500 hover:underline text-sm" %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</section>
