<h1>織機の編集</h1>

<%= form_with(model: @machine, local: true) do |form| %>
    <% if @machine.errors.any? %>
        <div class="alert alert-danger">
        <h4><%= pluralize(@machine.errors.count, "error") %> prohibited this machine from being saved:</h4>
        <ul>
            <% @machine.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= form.label :name, "織機名:" %>
        <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= form.label :machine_type_id, "織機のタイプ:" %>
        <%= form.collection_select :machine_type_id, MachineType.all, :id, :name, { prompt: "Select Machine Type" }, { class: "form-control" } %>
    </div>

    <div class="form-group">
        <%= form.label :machine_status_id, "稼働状況:" %>
        <%= form.collection_select :machine_status_id, MachineStatus.all, :id, :name, { prompt: "Select Status" }, { class: "form-control" } %>
    </div>

    <div class="actions">
        <%= form.submit '更新', class: "btn btn-primary" %>
        <%= link_to '戻る', machine_path(@machine), class: "btn btn-secondary" %>
    </div>
<% end %>
