<h1 class="px-4 py-2 text-3xl font-bold text-gray-700 mt-6 mb-6 text-center">織機一覧</h1>

<section class="mb-4">
    <div class="py-2 px-4">
        <%= link_to '＋ 新規織機追加', new_machine_path, class: "inline-block px-4 py-2 text-lg font-bold text-gray-700 border border-gray-300 bg-gray-100 rounded hover:bg-sky-600 hover:text-white" %>
    </div>
</section>

<%= form_with(url: machines_path, method: :get, local: true) do |f| %>
    <div class="px-4 mb-4">
        <div class="flex flex-col md:flex-row md:space-x-6">
            <!-- 織機名フィールド -->
            <div class="w-full md:w-1/3 mb-4 md:mb-0">
                <label class="text-lg text-gray-700 font-bold mb-2 block">
                    <%= f.label :machine_id, '織機名' %>
                </label>
                <%= f.collection_select :machine_id, Machine.all, :id, :name, { include_blank: true }, { class: "mt-1 block w-full border border-gray-300 rounded-md p-2" } %>
            </div>
            <!-- 製品番号フィールド -->
            <div class="w-full md:w-1/3 mb-4 md:mb-0">
            <label class="text-lg text-gray-700 font-bold mb-2 block">
                <%= f.label :product_number_id, '製品番号' %>
            </label>
                <%= f.collection_select :product_number_id, ProductNumber.all, :id, :number, { include_blank: true }, { class: "mt-1 block w-full border border-gray-300 rounded-md p-2" } %>
            </div>
            <!-- 現在の工程フィールド -->
            <div class="w-full md:w-1/3">
            <label class="text-lg text-gray-700 font-bold mb-2 block">
                <%= f.label :work_process_definitions_id, '現在の工程' %>
            </label>
                <%= f.collection_select :work_process_definitions_id, WorkProcessDefinition.all, :id, :name, { include_blank: true }, { class: "mt-1 block w-full border border-gray-300 rounded-md p-2" } %>
            </div>
        </div>
    </div>
    <section class="mb-12">
        <div class="flex justify-center space-x-2">
            <div class="px-2 py-2">
                <%= f.submit "検索", class: "inline-block px-4 py-2 text-lg bg-blue-500 text-white rounded hover:bg-blue-700" %>
            </div>
            <div class="px-2 py-2">
                <%= link_to "リセット", machines_path, class: "inline-block px-4 py-2 text-lg bg-gray-500 text-white rounded hover:bg-gray-700" %>
            </div>
        </div>
    </section>
<% end %>

<section class="mb-12">
    <div class="px-4 py-4 relative overflow-x-auto whitespace-nowrap sm:rounded-lg">
        <% if @machines.any? %>
        <table class="flex-none w-full text-lg border text-left rtl:text-right border-gray-300">
            <thead class="uppercase">
                <tr class="bg-gray-100">
                    <th scope="col" class="py-2 px-4 text-gray-700 border-b">織機名</th>
                    <th scope="col" class="py-2 px-4 text-gray-700 border-b">稼働状況</th>
                    <th scope="col" class="py-2 px-4 text-gray-700 border-b">品番</th>
                    <th scope="col" class="py-2 px-4 text-gray-700 border-b">現在の作業工程</th>
                    <th scope="col" class="py-2 px-4 text-gray-700 border-b">ステータス</th>
                    <th scope="col" class="py-2 px-4 text-gray-700 border-b"></th>
                    <th scope="col" class="py-2 px-4 text-gray-700 border-b"></th>
                    <th scope="col" class="py-2 px-4 text-gray-700 border-b"></th>
                </tr>
            </thead>
            <tbody>
                <% @machines.each do |machine| %>
                <tr class="hover:bg-gray-50">
                    <td scope="row" class="py-2 px-4 text-gray-700 border-b"><%= machine&.name %></td>
                    <td class="py-2 px-4 text-gray-700 border-b"><%= machine&.latest_machine_status&.name %></td>
                    <td class="py-2 px-4 text-gray-700 border-b"><%= product_number(machine) %></td>
                    <td class="py-2 px-4 text-gray-700 border-b"><%= work_process_name(machine) %></td>
                    <td class="py-2 px-4 text-gray-700 border-b"><%= work_process_status(machine) %></td>
                    <td class="py-2 px-4 border-b">
                        <%= link_to '詳細', machine_path(machine), class: "inline-block px-4 py-2 text-white bg-indigo-500 rounded hover:bg-indigo-600" %>
                    </td>
                    <td class="py-2 px-4 border-b">
                        <%= link_to '織機を編集', edit_machine_path(machine), class: "inline-block px-4 py-2 text-white bg-teal-500 rounded hover:bg-teal-600" %>
                    </td>
                    <td class="py-2 px-4 border-b">
                        <%= link_to '削除', machine_path(machine), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: "inline-block px-4 py-2 bg-rose-500 text-white rounded hover:bg-rose-600" %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    <% else %>
        <p class="text-center text-rose-500"><%= @no_machines_message %></p>
    <% end %>
    </div>
</section>
