<h1>織機一覧</h1>

<%= link_to '新規織機追加', new_machine_path %>

<% if @machines.any? %>
    <table>
        <thead>
            <tr>
                <th>織機名</th>
                <th>稼働状況</th>
                <th>品番</th>
                <th>現在の作業工程</th>
                <th>ステータス</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @machines.each do |machine| %>
            <tr>
                <td><%= machine.name %></td>
                <td><%= machine_statuses(machine) %></td>
                <td><%= product_number(machine) %></td>
                <td><%= work_process_name(machine) %></td>
                <td><%= work_process_status(machine) %></td>
                <td>
                    <%= link_to '詳細', machine_path(machine) %>
                    <%= link_to '織機を編集', edit_machine_path(machine) %>
                    <%= link_to '削除', machine_path(machine), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: "btn btn-danger btn-sm" %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <p><%= @no_machines_message %></p>
<% end %>
