<h1>織機詳細</h1>

<p>
    <strong>織機名:</strong>
    <%= @machine.name %>
</p>
<p>
    <strong>織機のタイプ:</strong>
    <%= @machine.machine_type.name %>
</p>
<p>
    <strong>会社名:</strong>
    <%= @machine.company.name %>
</p>
<p>
    <strong>稼働状況:</strong>
    <% current_work_process = find_current_work_process(@machine.work_processes) %>
    <% if current_work_process && current_work_process.machine_assignments.any? %>
        <% current_work_process.machine_assignments.each do |assignment| %>
        <%= assignment.machine_status.name %><br>
        <% end %>
    <% else %>
        N/A
    <% end %>
</p>


<h2>作業工程</h2>

<% if @work_processes.any? %>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>品番</th>
                <th>作業工程</th>
                <th>ステータス</th>
                <th>開始日</th>
                <th>受注状況</th>
            </tr>
        </thead>

        <tbody>
            <% @work_processes.each do |wp| %>
            <tr>
                <td><%= wp.order.product_number.number %></td>
                <td><%= wp.work_process_definition.name %></td>
                <td><%= wp.work_process_status.name %></td>
                <td><%= wp.start_date %></td>
                <td>
                    <%= link_to '受注を確認する', order_path(wp.order), class: 'btn btn-info btn-sm' %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <p>織機情報が見つかりませんでした。</p>
<% end %>

<%= link_to '織機を編集', edit_machine_path(@machine), class: 'btn btn-primary' %>
<%= link_to '削除', machine_path(@machine), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: "btn btn-danger btn-sm" %>
<%= link_to '戻る', machines_path, class: 'btn btn-secondary' %>
