<h1>織機詳細</h1>

<p>
    <strong>織機名:</strong>
    <%= @machine.name %>
</p>
<p>
    <strong>織機のタイプ:</strong>
    <%= @machine.machine_type.name %>
</p>
<p>
    <strong>会社名:</strong>
    <%= @machine.company.name %>
</p>
<p>
    <strong>稼働状況:</strong>
    <%= machine_statuses(@machine) %>
</p>

<h2>作業工程</h2>

<% if @work_processes.any? %>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>品番</th>
                <th>作業工程</th>
                <th>ステータス</th>
                <th>開始日</th>
                <th>予定納期</th>
                <th>受注状況</th>
            </tr>
        </thead>

        <tbody>
            <% @work_processes.each do |current_wp| %>
            <tr>
                <td><%= current_wp.order.product_number.number %></td>
                <td><%= current_wp.work_process_definition.name %></td>
                <td><%= current_wp.work_process_status.name %></td>
                <td><%= current_wp.start_date %></td>
                <td><%= current_wp.factory_estimated_completion_date %></td>
                <td>
                    <%= link_to '受注を確認する', order_path(current_wp.order), class: 'btn btn-info btn-sm' %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <p><%= @no_machines_message %></p>
<% end %>

<%= link_to '織機を編集', edit_machine_path(@machine), class: 'btn btn-primary' %>
<%= link_to '削除', machine_path(@machine), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: "btn btn-danger btn-sm" %>
<%= link_to '戻る', machines_path, class: 'btn btn-secondary' %>
