<h1 class="px-4 py-2 text-3xl font-bold text-gray-800 mt-6 mb-6 text-center">織機詳細</h1>
<!-- 受注詳細セクション -->
<section class="mb-12">
    <h2 class="px-4 text-2xl font-semibold text-gray-800 mt-6 mb-6">織機情報</h2>
    <div class="px-4 py-2 overflow-x-auto mb-6 whitespace-nowrap">
        <table class="min-w-full border border-gray-300 bg-gray-50">
            <tbody>
                <tr class="bg-gray-100 border-b">
                    <th class="w-1/3 px-4 py-2 text-center text-gray-700">織機名</th>
                    <td class="w-2/3 px-4 py-2 text-gray-900 bg-white"><%= @machine&.name %></td>
                </tr>
                <tr class="bg-gray-100 border-b">
                    <th class="w-1/3 px-4 py-2 text-center text-gray-700">織機のタイプ</th>
                    <td class="w-2/3 px-4 py-2 text-gray-900 bg-white"><%= @machine&.machine_type&.name %></td>
                </tr>
                <tr class="bg-gray-100 border-b">
                    <th class="w-1/3 px-4 py-2 text-center text-gray-700">会社名</th>
                    <td class="w-2/3 px-4 py-2 text-gray-900 bg-white"><%= @machine&.company&.name %></td>
                </tr>
                <tr class="bg-gray-100 border-b">
                    <th class="w-1/3 px-4 py-2 text-center text-gray-700">稼働状況</th>
                    <td class="w-2/3 px-4 py-2 text-gray-900 bg-white"><%= @machine&.latest_machine_status&.name %></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<!-- 織機詳細セクション -->
<section class="mb-12">
    <h2 class="px-4 text-2xl font-semibold text-gray-800 mb-6">作業工程</h2>
    <% if @work_processes.any? %>
        <div class="px-4 py-2 overflow-x-auto mb-6 whitespace-nowrap">
            <table class="min-w-full border text-left border-gray-300">
                <thead class="bg-gray-200">
                    <tr class="bg-gray-100">
                        <th class="w-1/6 px-4 py-2 text-gray-700 border-b">品番</th>
                        <th class="w-1/6 px-4 py-2 text-gray-700 border-b">作業工程</th>
                        <th class="w-1/6 px-4 py-2 text-gray-700 border-b">ステータス</th>
                        <th class="w-1/6 px-4 py-2 text-gray-700 border-b">開始日</th>
                        <th class="w-1/6 px-4 py-2 text-gray-700 border-b">完了予定日</th>
                        <th class="w-1/6 px-4 py-2 text-gray-700 border-b">受注状況</th>
                    </tr>
                </thead>
                <tbody>
                    <% @work_processes.each do |current_wp| %>
                    <tr class="hover:bg-gray-100">
                        <td class="px-4 py-2 border-b text-gray-900"><%= current_wp&.order&.product_number&.number %></td>
                        <td class="px-4 py-2 border-b text-gray-900"><%= current_wp&.work_process_definition&.name %></td>
                        <td class="px-4 py-2 border-b text-gray-900"><%= current_wp&.work_process_status&.name %></td>
                        <td class="px-4 py-2 border-b text-gray-900"><%= current_wp&.start_date || '未設定' %></td>
                        <td class="px-4 py-2 border-b text-gray-900"><%= current_wp&.factory_estimated_completion_date || '未設定' %></td>
                        <td class="px-4 py-2 border-b text-indigo-500 underline">
                            <%= link_to '受注を確認する', order_path(current_wp&.order), class: 'btn btn-info btn-sm' %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    <% else %>
        <div class="px-4 py-2 mb-6">
            <p class="text-center text-rose-500">受注情報が見つかりませんでした。</p>
        </div>
    <% end %>
</section>

<!-- アクションボタンセクション -->
<section class="mb-12">
    <div class="flex justify-center space-x-2">
        <div class="px-2 py-2">
            <%= link_to '織機を編集', edit_machine_path(@machine), class: "inline-block px-4 py-2 bg-teal-500 text-white rounded hover:bg-teal-600" %>
        </div>
        <div class="px-2 py-2">
            <%= link_to '削除', machine_path(@machine), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: "inline-block px-4 py-2 bg-rose-500 text-white rounded hover:bg-rose-600" %>
        </div>
        <div class="px-2 py-2">
            <%= link_to '戻る', machines_path, class: "inline-block px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-700" %>
        </div>
    </div>
</section>
