<h1 class="px-4 py-2 text-3xl font-bold text-gray-800 mt-6 mb-6 text-center">発注済み商品の製造状況</h1>
<table border="1" cellpadding="5" cellspacing="0">
  <thead>
    <tr>
      <th>企業名</th>
      <th>商品番号</th>
      <th>機械の稼働状況</th>
    </tr>
  </thead>
  <tbody>
    <% @machines.each do |machine| %>
    <% machine.work_processes&.each do |process| %>
    <tr>
      <td><%= machine&.company&.name || "N/A" %></td>
      <td><%= process&.order.product_number&.number || "N/A" %></td>
      <td><%= process&.work_process_status&.name || "N/A" %></td>
      <td>
        <%= link_to t('common.show'), admin_machine_path(machine), class: 'show-machine' %> |
        <%= link_to '削除', admin_machine_path(machine), method: :delete,
  data: {
    turbo_method: :delete,
    turbo_confirm: "本当に削除してよろしいですか？"} %>
      </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
