<h1 class="px-4 py-2 text-3xl font-bold text-gray-800 mt-6 mb-6 text-center">織機一覧</h1>
<section class="mb-12">
  <div class="px-4 py-2 overflow-x-auto mb-6 whitespace-nowrap">
    <table class="min-w-full text-left border border-gray-300">
      <thead class="bg-gray-200">
        <tr class="bg-gray-100">
          <th scope="col" class="py-2 px-4 text-gray-700 border-b">企業名</th>
          <th scope="col" class="py-2 px-4 text-gray-700 border-b">織機名</th>
          <th scope="col" class="py-2 px-4 text-gray-700 border-b">機械の稼働状況</th>
          <th scope="col" class="py-2 px-4 text-gray-700 border-b">商品番号</th>
          <th scope="col" class="py-2 px-4 text-gray-700 border-b">現在の作業工程</th>
          <th scope="col" class="py-2 px-4 text-gray-700 border-b">作業状況</th>
          <th scope="col" class="py-2 px-4 text-gray-700 border-b"></th>
          <th scope="col" class="py-2 px-4 text-gray-700 border-b"></th>
        </tr>
      </thead>
      <tbody>
        <% @machines.each do |machine| %>
          <tr class="hover:bg-gray-100">
            <td class="py-2 px-4 text-gray-700 border-b"><%= machine&.company&.name %></td>
            <td class="py-2 px-4 text-gray-700 border-b"><%= machine&.name %></td>
            <td class="py-2 px-4 text-gray-700 border-b"><%= machine_statuses(machine) %></td>
            <td class="py-2 px-4 text-gray-700 border-b"><%= product_number(machine) %></td>
            <td class="py-2 px-4 text-gray-700 border-b"><%= work_process_name(machine) %></td>
            <td class="py-2 px-4 text-gray-700 border-b"><%= work_process_status(machine) %></td>
            <td class="py-2 px-4 text-gray-700 border-b">
              <%= link_to t('common.show'), admin_machine_path(machine),
              class: "inline-block px-4 py-2 text-white bg-indigo-500 rounded hover:bg-indigo-600" %>
            </td>
            <td class="py-2 px-4 text-gray-700 border-b">
              <%= link_to '削除', admin_machine_path(machine), method: :delete,
                data: {
                  turbo_method: :delete,
                  turbo_confirm: "本当に削除してよろしいですか？"
                },
                class: "inline-block px-4 py-2 bg-rose-500 text-white rounded hover:bg-rose-600" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
