<section class="mb-12">
  <div class="px-4 py-2 overflow-x-auto mb-6 whitespace-nowrap">
    <table class="min-w-full text-left border border-gray-300">
      <thead class="bg-gray-200">
        <tr class="bg-gray-100">
          <th scope="col" class="px-4 py-2 text-gray-700 border-b">企業名</th>
          <th scope="col" class="px-4 py-2 text-gray-700 border-b">機械番号</th>
          <th scope="col" class="px-4 py-2 text-gray-700 border-b">機械の種類</th>
          <th scope="col" class="px-4 py-2 text-gray-700 border-b">商品番号</th>
          <th scope="col" class="px-4 py-2 text-gray-700 border-b">現在の工程</th>
          <th scope="col" class="px-4 py-2 text-gray-700 border-b">現在の工程の状況</th>
          <th scope="col" class="px-4 py-2 text-gray-700 border-b">完成予定日</th>
          <th scope="col" class="px-4 py-2 text-gray-700 border-b"></th>
          <th scope="col" class="px-4 py-2 text-gray-700 border-b"></th>
        </tr>
      </thead>
      <tbody>
        <% if @machine.present? && @machine.work_processes.present? %>
          <% @ordered_work_processes.each do |process| %>
            <tr class="hover:bg-gray-100">
              <td class="px-4 py-2 border-b text-gray-700">
                <% if @machine&.company&.name.present? %>
                  <%= @machine.company.name %>
                <% else %>
                  <span>情報なし</span>
                <% end %>
              </td>
              <td class="px-4 py-2 border-b text-gray-700">
                <% if @machine&.name.present? %>
                  <%= @machine.name %>
                <% else %>
                  <span>情報なし</span>
                <% end %>
              </td>
              <td class="px-4 py-2 border-b text-gray-700">
                <% if @machine&.machine_type&.name.present? %>
                  <%= @machine.machine_type.name %>
                <% else %>
                  <span>情報なし</span>
                <% end %>
              </td>
              <td class="px-4 py-2 border-b text-gray-700">
                <% if process.order&.product_number_id.present? %>
                  <%= process.order.product_number_id %>
                <% else %>
                  <span>情報なし</span>
                <% end %>
              </td>
              <td class="px-4 py-2 border-b text-gray-700">
                <% if process.work_process_definition&.name.present? %>
                  <%= process.work_process_definition.name %>
                <% else %>
                  <span>情報なし</span>
                <% end %>
              </td>
              <td class="px-4 py-2 border-b text-gray-700">
                <% if process.work_process_status&.name.present? %>
                  <%= process.work_process_status.name %>
                <% else %>
                  <span>情報なし</span>
                <% end %>
              </td>
              <td class="order-finished_at">
                <% if process.factory_estimated_completion_date.present? %>
                  <%= process.factory_estimated_completion_date %>
                <% else %>
                  <span>情報なし</span>
                <% end %>
              </td>
              <td class="px-4 py-2 border-b text-gray-700">
                <%= link_to t('common.edit'), edit_admin_machine_path(@machine), class: "inline-block px-4 py-2 bg-teal-500 text-white rounded hover:bg-teal-600" %>
              </td>
              <td class="px-4 py-2 border-b text-gray-700">
                <%= link_to '戻る', machines_path, class: "inline-block px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-700" %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="8" class="px-4 py-4 text-center text-rose-500">データがありません</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
