<table>
  <thead>
    <tr>
      <th>企業名</th>
      <th>機械番号</th>
      <th>機械の種類</th>
      <th>商品番号</th>
      <th>現在の工程</th>
      <th>現在の工程の状況</th>
      <th>完成予定日</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% if @machine.present? && @machine.work_processes.present? %>
      <% @machine.work_processes.each do |process| %>
        <tr>
          <td>
            <% if @machine&.company&.name.present? %>
              <%= @machine.company.name %>
            <% else %>
              <span>情報なし</span>
            <% end %>
          </td>
          <td>
            <% if @machine&.name.present? %>
              <%= @machine.name %>
            <% else %>
              <span>情報なし</span>
            <% end %>
          </td>
          <td>
            <% if @machine&.machine_type&.name.present? %>
              <%= @machine.machine_type.name %>
            <% else %>
              <span>情報なし</span>
            <% end %>
          </td>
          <td>
            <% if process.order&.product_number_id.present? %>
              <%= process.order.product_number_id %>
            <% else %>
              <span>情報なし</span>
            <% end %>
          </td>
          <td>
            <% if process.work_process_definition&.name.present? %>
              <%= process.work_process_definition.name %>
            <% else %>
              <span>情報なし</span>
            <% end %>
          </td>
          <td>
            <% if process.work_process_status&.name.present? %>
              <%= process.work_process_status.name %>
            <% else %>
              <span>情報なし</span>
            <% end %>
          </td>
          <td class="order-finished_at">
            <% if process.factory_estimated_completion_date.present? %>
              <%= process.factory_estimated_completion_date %>
            <% else %>
              <span>情報なし</span>
            <% end %>
          </td>
          <td>
            <%= link_to t('common.edit'), edit_admin_machine_path(@machine), class: 'edit-machine' %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="8">データがありません</td>
      </tr>
    <% end %>
  </tbody>
</table>
