<!DOCTYPE html>
<html>
<head>
  <title>アプリケーション名</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "turbo", type: "module" %>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><%= link_to 'ホーム', user_root_path %></li>
        <li><%= link_to 'ユーザー情報', user_user_path(User.first) %></li>
        <li><%= link_to '織機一覧', user_machines_path %></li>
        <li><%= link_to '受注管理', user_orders_path %></li>
      </ul>
    </nav>
  </header>

  <%= yield %>
</body>
</html>
