<!DOCTYPE html>
<html>

<head>
  <title><%= content_for(:title) || "Loom Management" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%# turboで削除機能追加 %>
  <%= javascript_include_tag "turbo", type: "module" %>
</head>

<body>
  <%# Flashメッセージのデザインをカスタムクラスで適用 %>
  <% flash.each do |key, value| %>
  <div class="flash-message <%= key %>">
    <%= value %>
    <button class="close-button" onclick="this.parentElement.style.display='none'">×</button>
  </div>
  <% end %>

  <%# グローバルナビゲーションの作成 %>
  <nav class="navbar">
    <div class="navbar-brand">Loom Management</div>
    <div class="navbar-toggle" onclick="toggleMenu()">☰</div>
    <ul class="navbar-menu" id="navbarMenu">
      <% if logged_in? %>
      <% if current_user.admin? %>
      <%# 管理者用ナビゲーション %>
      <li><%= link_to "機械一覧", admin_machines_path, id: "admin-machines-index" %></li>
      <li><%= link_to "機械の登録", new_admin_machine_path, id: "admin-machines-index" %></li>
      <li><%= link_to "発注一覧", admin_orders_path %></li>
      <li><%= link_to "発注する", new_admin_order_path %></li>
      <% else %>
      <%# 一般ユーザー用ナビゲーション %>
      <li><%= link_to "ホーム", root_path %></li>
      <li><%= link_to "織機一覧", machines_path %></li>
      <li><%= link_to "受注管理", orders_path %></li>
      <% end %>
      <li><%= link_to "ユーザー情報", user_path(current_user) %></li>
      <li><%= link_to "ログアウト", logout_path, data: { turbo_method: :delete } %></li>
      <% else %>
      <%# 未ログイン時のナビゲーション %>
      <li><%= link_to "ログイン", login_path %></li>
      <li><%= link_to "ユーザー登録", signin_path %></li>
      <% end %>
    </ul>
  </nav>

  <%= yield %>
</body>

</html>
