<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "LooMa（ルーマ）" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.5.0/frappe-gantt.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.5.0/frappe-gantt.min.js"></script>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "turbo", type: "module" %>
  </head>

  <body class="flex flex-col items-center bg-gray-100 min-h-screen">
    <header class="w-full bg-white shadow">
      <%# グローバルナビゲーションの作成 %>
      <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
          <!-- ロゴまたはアプリケーション名 -->
          <div class="flex items-center">
            <% if logged_in? %>
              <% if current_user.admin? %>
                <%= link_to 'LooMa【発注企業】', admin_root_path, class: "text-xl font-bold text-gray-700" %>
              <% else %>
                <%= link_to 'LooMa【受注企業】', root_path, class: "text-xl font-bold text-gray-700" %>
              <% end %>
            <% else %>
                <div class='text-xl font-bold text-gray-700'>LooMa</div>
            <% end %>
          </div>
          <!-- デスクトップメニュー -->
          <div class="hidden md:flex items-center space-x-4" id="navbarMenu">
            <% if logged_in? %>
              <% if current_user.admin? %>
                <%# 管理者用ナビゲーション %>
                <p><%= link_to "織機一覧", admin_machines_path, id: "admin-machines-index", class: "block px-2 py-2 rounded-md font-semibold text-gray-700 hover:bg-gray-200" %></p>
                <p><%= link_to "発注一覧", admin_orders_path, class: "block px-2 py-2 rounded-md font-semibold text-gray-700 hover:bg-gray-200" %></p>
                <p><%= link_to "発注する", new_admin_order_path, class: "block px-2 py-2 rounded-md font-semibold text-gray-700 hover:bg-gray-200" %></p>
                <p><%= link_to "納期の予想", admin_process_estimates_path, class: "block px-2 py-2 rounded-md font-semibold text-gray-700 hover:bg-gray-200" %></p>
                <p><%= link_to "ユーザー情報", admin_users_path, class: "block px-2 py-2 rounded-md font-semibold text-gray-700 hover:bg-gray-200" %></p>
              <% else %>
                <%# 一般ユーザー用ナビゲーション %>
                <p><%= link_to "織機一覧", machines_path, class: "block px-2 py-2 rounded-md font-semibold text-gray-700 hover:bg-gray-200" %></p>
                <p><%= link_to "織機の登録", new_machine_path, class: "block px-2 py-2 rounded-md font-semibold text-gray-700 hover:bg-gray-200" %></p>
                <p><%= link_to "受注一覧", orders_path, class: "block px-2 py-2 rounded-md font-semibold text-gray-700 hover:bg-gray-200" %></p>
              <% end %>
            <p><%= link_to "ログアウト", logout_path, data: { turbo_method: :delete }, class: "block px-2 py-2 rounded-md font-semibold text-rose-500 hover:bg-gray-200" %></p>
            <% else %>
              <%# 未ログイン時のナビゲーション %>
              <p><%= link_to "ログイン", login_path, class: "block px-2 py-2 rounded-md font-semibold text-gray-700 hover:bg-gray-200" %></p>
            <% end %>
          </div>

          <!-- モバイルメニューのボタン -->
          <div class="flex md:hidden">
            <button id="mobile-menu-button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-700 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
              <span class="sr-only">メニューを開く</span>
              <!-- ハンバーガーアイコン -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
          </div>
        </div>
      </nav>

      <!-- モバイルメニュー -->
      <div id="mobile-menu" class="hidden md:hidden">
        <ul class="px-2 pt-2 pb-3 space-y-1 sm:px-2">
          <% if logged_in? %>
            <% if current_user.admin? %>
              <%# 管理者用ナビゲーション %>
              <li><%= link_to "ホーム", admin_root_path, id: "admin-machines-index", class: "block px-2 py-2 rounded-md font-semibold text-gray-700 hover:bg-gray-200" %></li>
              <li><%= link_to "機械一覧", admin_machines_path, id: "admin-machines-index", class: "block px-2 py-2 rounded-md font-semibold text-gray-700 hover:bg-gray-200" %></li>
              <li><%= link_to "機械の登録", new_admin_machine_path, id: "admin-machines-index", class: "block px-2 py-2 rounded-md font-semibold text-gray-700 hover:bg-gray-200" %></li>
              <li><%= link_to "発注一覧", admin_orders_path, class: "block px-2 py-2 rounded-md font-semibold text-gray-700 hover:bg-gray-200" %></li>
              <li><%= link_to "発注する", new_admin_order_path, class: "block px-2 py-2 rounded-md font-semibold text-gray-700 hover:bg-gray-200" %></li>
              <li><%= link_to "納期の予想", admin_process_estimates_path, class: "block px-2 py-2 rounded-md font-semibold text-gray-700 hover:bg-gray-200" %></li>
              <li><%= link_to "ユーザー情報", admin_users_path, class: "block px-2 py-2 rounded-md font-semibold text-gray-700 hover:bg-gray-200" %></li>
              <li><%= link_to "ユーザー追加", admin_users_path, class: "block px-2 py-2 rounded-md font-semibold text-gray-700 hover:bg-gray-200" %></li>
            <% else %>
              <%# 一般ユーザー用ナビゲーション %>
              <li><%= link_to "ホーム", root_path, class: "block px-2 py-2 rounded-md font-semibold text-gray-700 hover:bg-gray-200" %></p>
              <li><%= link_to "織機一覧", machines_path, class: "block px-2 py-2 rounded-md font-semibold text-gray-700 hover:bg-gray-200" %></li>
              <li><%= link_to "機械の登録", new_machine_path, class: "block px-2 py-2 rounded-md font-semibold text-gray-700 hover:bg-gray-200" %></li>
              <li><%= link_to "受注一覧", orders_path, class: "block px-2 py-2 rounded-md font-semibold text-gray-700 hover:bg-gray-200" %></li>
            <% end %>
          <li><%= link_to "ログアウト", logout_path, data: { turbo_method: :delete }, class: "block px-2 py-2 rounded-md font-semibold text-rose-500 hover:bg-gray-200" %></li>
          <% else %>
            <%# 未ログイン時のナビゲーション %>
            <li><%= link_to "ログイン", login_path, class: "block px-2 py-2 rounded-md font-semibold text-gray-700 hover:bg-gray-200" %></li>
          <% end %>
        </ul>
      </div>
    </header>

    <main class="flex-grow container py-6 lg:px-16">
      <div class="px-4 py-6 shadow-md bg-white">
        <%= render 'shared/flash_messages' %>
        <%= yield %>
      </div>
    </main>

    <script>
      window.addEventListener('turbo:load', function () {
        const button = document.getElementById('mobile-menu-button');
        const menu = document.getElementById('mobile-menu');

        button.addEventListener('click', () => {
          menu.classList.toggle('hidden');
        });
      });
    </script>
  </body>
</html>
